/* #e37400, #202124, #ceead6, #feefc3 */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.header {
  position: absolute;
  top: 0;
  justify-content: space-around;
  /* background-color: #ceead6; */
  border: #ceead6;
  border-width: 8px;
  border-style: double;
  border-radius: 25px;
  padding: 15px;
  padding-right: 50px;
  padding-left: 50px;
  text-align: center;
  font: 1000 45px Sans-Serif;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px #ceead6;
}

.star-field {
}

.user-info {
  position: fixed;
  scale: 0.8;
  top: 125px;
  left: 50px;
  width: 200px;
  background-color: #feefc3b9;
  border-radius: 25px;
  padding: 10px;
  text-align: start;
  font-family: "Courier Prime", monospace;
  color: #202124;
}
