/* #e37400, #202124, #ceead6, #feefc3 */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Courier Prime", monospace;
}

canvas {
  display: block;
}

.header {
  position: absolute;
  top: 0;
  justify-content: space-around;
  /* background-color: #ceead6; */
  border: #ceead6;
  border-width: 8px;
  border-style: double;
  border-radius: 25px;
  padding: 15px;
  padding-right: 50px;
  padding-left: 50px;
  text-align: center;
  font: 1000 45px Sans-Serif;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px #ceead6;
}

.subHeader {
  position: fixed;
  text-align: center;
  top: 125px;

  border-radius: 25px;
  padding: 10px;
  text-align: start;
  font-family: "Courier Prime", monospace;
  color: #e37400;
}

.user-info {
  position: fixed;
  scale: 0.8;
  top: 125px;
  left: 50px;
  width: 200px;
  background-color: #feefc3b9;
  border-radius: 25px;
  padding: 10px;
  text-align: start;
  font-family: "Courier Prime", monospace;
  color: #202124;
}

.color-selector {
  position: fixed;
  scale: 0.5;
  top: 225px;
  left: 160px;
  width: 90px;
}

/* starModal */
#starModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(32, 33, 36, 0.7); /* Dark grey w/ opacity */
}

.modal-title {
  position: relative;
  width: 100%;
  color: #feefc3;
  background: #d5792d;
  text-size-adjust: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font: 1000 45px Sans-Serif;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px #feefc3;
}

.description-senses-container {
  display: flex;
  flex: 1; /* Adjust this to control the height of the container */
  width: 100%;
  height: 100%;
}

.description-content {
  flex: 1;
  color: #feefc3;
  padding: 20px;
  text-align: justify;
  hyphens: auto;
}
h3.notes-title {
  display: flex;
  color: #feefc3;
}
.modal-description {
  flex: 1;
  color: #feefc3;
  text-align: justify;
}

.modal-senses {
  flex: 1;
  padding-right: 5px;
  color: #feefc3;
}

.modal-content {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 80%;
  border-radius: 4px;
  border: 2px;
  background-color: #202124;
  margin: 5% auto;
  border: 1px solid #e37400;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  animation-duration: 0.4s;
}

/* @keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
} */

.close {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  padding-right: 5px;
  color: #feefc3; /* Dark grey */
  z-index: 10;
  font-size: 28px;
  font-weight: bold;
  background: #202124;
}

.close:hover,
.close:focus {
  color: #feefc3; /* Light yellow */
  text-decoration: none;
  cursor: pointer;
}
